pipeline/pl_ifCondutionDemo.json
{
	"name": "pl_ifCondutionDemo",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "SourceDelimitedText",
						"type": "DatasetReference",
						"parameters": {
							"SourceContainerName": {
								"value": "@pipeline().parameters.pl__param_tblsourceContainer",
								"type": "Expression"
							},
							"SourceContainerSubdirectory": {
								"value": "@pipeline().parameters.pl_param_SoureSubdirectory",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@contains(item().name , 'Emp')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Wait1",
										"description": "",
										"type": "Wait",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"waitTimeInSeconds": 1
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Copy data1",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": true,
													"wildcardFolderPath": {
														"value": "@pipeline().parameters.pl_param_SoureSubdirectory",
														"type": "Expression"
													},
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobStorageWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "SourceDelimitedText",
												"type": "DatasetReference",
												"parameters": {
													"SourceContainerName": {
														"value": "@pipeline().parameters.pl__param_tblsourceContainer",
														"type": "Expression"
													},
													"SourceContainerSubdirectory": {
														"value": "@pipeline().parameters.pl_param_SoureSubdirectory",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "TargetDelimitedText",
												"type": "DatasetReference",
												"parameters": {
													"targetContainerName": {
														"value": "@pipeline().parameters.pl__param_tbltargetContainer",
														"type": "Expression"
													},
													"taregetSubDirectoryName": {
														"value": "@pipeline().parameters.pl_param_targetSubdirectory",
														"type": "Expression"
													}
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"pl_param_SoureSubdirectory": {
				"type": "string",
				"defaultValue": "data"
			},
			"pl_param_targetSubdirectory": {
				"type": "string",
				"defaultValue": "outputdata"
			},
			"pl__param_tbltargetContainer": {
				"type": "string",
				"defaultValue": "tbltarget"
			},
			"pl__param_tblsourceContainer": {
				"type": "string",
				"defaultValue": "tblsource"
			}
		},
		"folder": {
			"name": "Iteration Conditionals"
		},
		"annotations": []
	}
}