pipeline/pl_switch.json
{
	"name": "pl_switch",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "SourceDelimitedText",
						"type": "DatasetReference",
						"parameters": {
							"SourceContainerName": "tblsource",
							"SourceContainerSubdirectory": "data"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Switch2",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@item().DirectoryName",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "tbltarget"
									},
									{
										"value": "archive"
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"pl_param_SoureSubdirectory": {
				"type": "string",
				"defaultValue": "data"
			},
			"pl_param_targetSubdirectory": {
				"type": "string",
				"defaultValue": "outputdata"
			},
			"pl__param_tbltargetContainer": {
				"type": "string",
				"defaultValue": "tbltarget"
			},
			"pl__param_tblsourceContainer": {
				"type": "string",
				"defaultValue": "tblsource"
			},
			"pl__param_archeiveContainer": {
				"type": "string",
				"defaultValue": "archive"
			},
			"pl__param_archeiveSubdirectory": {
				"type": "string",
				"defaultValue": "backup"
			},
			"filetargetdirectory": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Iteration Conditionals"
		},
		"annotations": []
	}
}